// navigation
header {
  position: relative;
  background: $white;
  box-shadow: 0 0 5px 0 rgba($dark, 0.5);
  z-index: 10;

  h3 {
    display: inline-block;
  }

  ul {
    float: right;
    text-align: right;

    li {
      margin-top: 4px;
      margin-left: 6px;
      a {
        display: block;
        padding: 5px;
      }
    }
  }

  @media screen and (max-width: 742px) {
    h3 {
      display: block;
      text-align: center;
    }
    ul {
      float: none;
      text-align: center;
    }
  }
  .button {
    min-width: unset;
  }
  section {
    margin-left: 16px;
    margin-right: 16px;
    height: 15vh;
  }
  h3 {
    margin: 0;
  }
  ul {
    margin: auto !important;
    margin-right: 0 !important;
  }
  section > a,
  section > a > img,
  section > a > h3 {
    margin-top: auto;
    margin-bottom: auto;
  }
  section > a > img {
    max-height: 3em;
    margin-right: 1em;
  }
  section > a {
    display: flex;
  }
}

// login
#login {
  background: linear-gradient(to right, $primary 0%, $primary 50%, $white 50%, $white 100%);

  @media screen and (max-width: 742px) {
    height: 100vh;
    background: $white;
  }
  
  .col1 {height:100vh}

  .col1,
  .col2 {
    padding-top: 20vh;

    @media screen and (max-width: 742px) {
      height: auto;
      padding-top: 20vh;
    }
  }
  .col1 {
    color: $white;
    @media screen and (max-width: 742px) {
      display: none;
    }

    p {
      max-width: 490px;
      margin-top: 2rem;
      line-height: 1.8;
    }

    a {
      color: $white;
      text-decoration: underline;
    }
  }
  .signup-form {
    padding-top: 30vh;

    @media screen and (max-width: 742px) {
      padding-top: 10vh;
    }
  }
  .col2 {
    h1 {
      margin-bottom: 2rem;
    }
    form {
      max-width: 450px;
      margin: 0 auto;
    }
    .extras {
      float: right;
      text-align: right;
      a {
        display: block;
        margin-bottom: 0.5rem;
      }
    }

    .password-reset {
      h1 {
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 2rem;
      }
    }
  }
}

#home {
  .col1 {
    flex-basis: 20%;
    background: $primary;
    height: 85vh;
    overflow: auto;
  }
  .button {
    min-width: unset;
  }
  .col2 {
    height: 85vh;
    flex-basis: 80%;
    overflow: auto;
    padding-top: 0;
  }
  .col2 > p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .col2 section {
    margin: 0;
    max-width: 100%;
    margin-bottom: 1em;
  }
  input {
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 0;
    padding: 0.4em 0.6em;
    width: 100%;
    outline: none;
    display: block;
    font: unset;
    color: unset;
    margin-right: 8px;
    background-clip: padding-box;
  }
  trix-toolbar {
    top: 0;
    position: sticky;
  }
  trix-toolbar button::before {
    background-color: #e6ecf0;
  }
}

.item {
  background: $light;
  border-radius: .5em;
  padding: .5em;
  p,
  strong {
    margin: auto;
  }
  strong {
    text-align: end;
    margin-right: 1em;
    font-size: 1.8em;
  }
}

.valueinput {
  width: auto!important;
  margin-left: auto!important;
}

.nomargin {
  margin: 0!important
}

#toolbar {
  position: sticky;
  top: 0;
  background: $body;
  padding-top: 1rem;
  padding-bottom: .5rem;
}
