service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow update, delete, read, create: if owner();
    }

    function owner(){
      return resource.data.user == request.auth.uid;
    }

  }
}