service cloud.firestore {
  match /databases/{database}/documents {

    match /{uid}/{document=**} {
      allow update, delete, read, create: if owner(uid);
    }

    function owner(uid){
      return uid == request.auth.uid;
    }

  }
}